<!-- Sidebar navigation -->
<nav>
  {{ partial "header.html" . }}
  <ul class="nav-menu">
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
    {{ end }}

    <li>
      <a href="{{ .Site.RSSLink }}" target="_blank" rel="noopener" type="application/rss+xml">RSS</a>
    </li>
  </ul>

  <div class="nav-tags">
    <h2>Tags</h2>
    <ul class="nav-menu">
      {{ range .Site.Taxonomies.tags }}
      <li>
        <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>
      </li>
      {{ end }}
    </ul>
  </div>

{{ partial "footer.html" . }}
</nav>
